@model Welcome_Message_MVC.Models.TBLEmployee
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>
    <div> 
        Welcome @Model.emp_name
    </div>
</body>
</html>
